@using Darkrell.Pro.Blazor.Extensions
@page "/tracing"

<div>
    Value1 : "@_model.Value1" <br/>
    Value2 : "@_model.Value2" <br/>
    Value3 : "@_model.Value3" <br/>
</div>
Value1 - <input @bind-value="@_model.Trace(x=>x.Value1, x=>_log = $"Value1 changed to {x}").V"/>  @("""<input @bind-value="@_model.Trace(x=>x.Value1, x=>_log = $"Value1 changed to {x}").V"/>""")<br/>
Value2 - <input @bind-value="@_model.Trace(x=>x.Value2, x=>_log = $"Value2 changed to {x}").V"/>  <br/>
Value3 - <input @bind-value="@_model.Trace(x=>x.Value3, x=>_log = $"Value3 changed to {x}").V"/>  <br/>
<br/>
<strong>@_log</strong>

@code{
    ViewModel _model = new();
    string _log;
    protected override async Task OnInitializedAsync()
    {
    }

    public class ViewModel
    {
        public string Value1 { get; set; }
        public string Value2 { get; set; }
        public string Value3 { get; set; }
    }
}